# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Other files...
.DS_Store
.venv
.idea/
*.ipynb

# every output goes here
out*/

# generated dirs
apache-download/
apache-projects/

# Log files
*.log
